h1{
  text-align: center;
  color: Black;
  font-family: myFirstFont;
  font-size: 300%;
  font-style: i;
}

p
{
  text-align: center;

}

@font-face{
  font-family: myFirstFont;
  src: local(C\Users\deleo_000\Downloads\movie_letters\movlette);
}


body{
  background-image: url("http://www.macphersoncoaches.co.uk/images/Itinerary_sml/southend%20image%201.jpg");
  background-repeat: no-repeat;
  background-size: 1580px, 920px;
}
@media only screen and (max-width : 680px){


section {
 width: 75%
}

aside{
  width: 55%
}

.one-third {
  width: 55%
}
 h1{
   font-size: 50%;
   color : purple;
 }

p{
  font-size: 70%;
  color: Red; 
}
