h1{
  text-align: center;
  color: Black;
  font-family: Times New Roman;
  font-size: 300%;
  font-style: italic;
}

p
{
  text-align: center;
}

p.italic {
    font-style: italic;
}

body{
  background-image: url ("C:\Users\deleo_000\Desktop\Southend.jpg");
  
}
@media only screen and (max-width : 580px){


section {
 width: 75%
}

aside{
  width: 75%
}

.one-third {
  width: 75%
}
 h1{
   font-size: 60%;
   color : purple;
 }


